In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../python-ml-course-master/datasets/customer-churn-model/Customer Churn Model.txt")

In [3]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Crear un subconjunto de datos

In [4]:
account_length = data['Account Length'] #Devuelve un objeto del tipo serie
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [5]:
# Para obtener un subset con varias columnas tengo que usar doble corchetes luego de data
subset = data[['Account Length','Phone','Eve Charge','Day Calls']]
subset.head()
# Se obtiene un dataframe

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

### Si quisiera prescindir de algunas columnas, siendo mayorÃ­a las que sÃ­ necesito:

In [6]:
columnas_nodeseadas = ['Account Length', 'VMail Message', 'Day Calls']

In [7]:
todas_columnas_list = data.columns.values.tolist()

In [8]:
sublist =  [x for x in todas_columnas_list if x not in columnas_nodeseadas]

In [9]:
subset = data[sublist] #Hay que hacerlo de esta forma para trabajar ocupando menos memoria
subset.head()

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,375-9999,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,330-6626,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Filtrado de filas

In [10]:
# Conociendo el numero y ubicacion de las que quiero usar
data[0:20] #devuelve el dataframe desde la fila 0 hasta la anterior a la indicada luego de los :

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.

In [11]:
# No necesariamente debo indicar ambos numeros dentro de los corchetes.
# Puedo trabajar asi:
data[:6]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.

In [12]:
# O bien asi para indicar solo desde donde quiero trabajar:
data[3330:]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

#### Puedo filtrar aquellas filas que cumplan una cierta condicion

In [13]:
data1 = data[data['Day Mins']>330] # Observar que se pone dos veces data
data1

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.40,253.9,100,11.43,10.1,9,2.73,1,True.
605,MO,112,415,373-2053,no,no,0,335.5,77,57.04,...,109,18.06,265.0,132,11.93,12.7,8,3.43,2,True.
975,DE,129,510,332-6181,no,no,0,334.3,118,56.83,...,104,16.33,191.0,83,8.59,10.4,6,2.81,0,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.
2594,OH,115,510,348-1163,yes,no,0,345.3,81,58.70,...,106,17.29,217.5,107,9.79,11.8,8,3.19,1,True.

In [14]:
data2 = data[data['State']=='NY']
data2

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3219,NY,150,415,421-6268,no,yes,35,139.6,72,23.73,...,170,28.29,213.8,105,9.62,8.8,2,2.38,2,False.
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.

### Si quisiera que el filtro cumpla dos condiciones, podria usar los operadores & (and) y | (or)

In [15]:
# Ejemplo en donde deben cumplirse ambas condiciones
data3 = data[(data['Day Mins']>300) & (data['State']=='NY')] # Cada condicion va encerrada en parentesis
data3.shape # Me dice cuales son las filas que cumplen ambas condiciones. El seg numero indica las columnas. 
# Puedo usar varios &

(2, 21)

In [16]:
# Ejemplo en donde se cumple una condicion o la otra
data4 = data[(data['Day Mins']>300) | (data['State']=='NY')]
data4.shape

(124, 21)

### Puedo filtrar comparando los valores de dos columnas

In [17]:
data5 = data[data['Day Calls'] < data['Night Calls']] #Se usan corchetes igual que cuando trabajo con ==
data5.shape

(1626, 21)

### Filtrar columnas y filas al mismo tiempo
Para esto tengo colocar dos pares de corchetes, uno al lado del otro para filtrar primero las columnas y luego las filas.

In [18]:
# Ejemplo con 3 columnas y 10 filas
subset50 = data[['Day Mins', 'Night Mins', 'Account Length']][:10]
subset50

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75
5     223.4       203.9             118
6     218.2       212.6             121
7     157.0       211.8             147
8     184.5       215.8             117
9     258.6       326.4             141

Python posee dos metodos para hacer esto.
loc que trabaja con los nombres de etiquetas e iloc que trabaja con indexado posicional.
Los argumentos van entre corchetes. El primero afecta a las filas y el segundo a las columnas.

In [19]:
data.iloc[:10, 3:6]

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [20]:
data.iloc[:10, [2,5,7]] #Al colocar un array en el segundo argumento puedo filtrar separando por comas

   Area Code VMail Plan  Day Mins
0        415        yes     265.1
1        415        yes     161.6
2        415         no     243.4
3        408         no     299.4
4        415         no     166.7
5        510         no     223.4
6        510        yes     218.2
7        415         no     157.0
8        408         no     184.5
9        415        yes     258.6

In [21]:
# Para filtrar con los nombres uso loc
data.loc[:10, ['Phone', 'Day Mins']]

       Phone  Day Mins
0   382-4657     265.1
1   371-7191     161.6
2   358-1921     243.4
3   375-9999     299.4
4   330-6626     166.7
5   391-8027     223.4
6   355-9993     218.2
7   329-9001     157.0
8   335-4719     184.5
9   330-8173     258.6
10  329-6603     129.1

## Crear una columna a partir de datos de otras

In [22]:
data['Total Mins'] = data['Day Mins'] + data['Night Mins'] + data['Eve Mins']
data['Total Mins'].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [23]:
data.shape # Aqui se ve que la columna creada se agrega al dataframe

(3333, 22)

# GeneraciÃ³n aleatoria de nÃºmeros

In [24]:
import numpy as np

In [25]:
# Numeros enteros aleatorios en un intervalo
np.random.randint(1,100)

57

In [26]:
# Numeros decimales aleatorios entre 0 y 1, es el que mas se usa
np.random.random()

0.7883596577416726

In [27]:
# Funcion que genera una lista de n numeros enteros aleatorios dentro un intervalo (a,b)
def randint_list(n, a, b):
    x = []
    for i in range (n):
        x.append(np.random.randint(a,b))
    return x

In [28]:
randint_list(25,0,50)

[25,
 16,
 42,
 38,
 49,
 34,
 40,
 30,
 43,
 20,
 48,
 37,
 32,
 0,
 7,
 32,
 10,
 46,
 1,
 10,
 1,
 10,
 4,
 48,
 40]

Existe un paquete que contiene una funcion que hace este trabajo

In [29]:
import random

In [30]:
#random dentro de un rango
random.randrange(0,100,7) #Va desde el 0 hasta el 100 y devuelve valores que son multiplos de 7
# Tener cuidado con el primer numero del intervalo por que se suma al tercer argumento

56

#### Shuffling

In [31]:
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [32]:
np.random.shuffle(a)
a # queda mezclado

array([68, 72, 38, 66, 67, 64, 78, 35, 93, 65, 44, 51, 41, 29, 39, 85, 57,
       54, 19, 33,  8,  1, 17, 97, 11, 50, 53,  6, 73, 12, 15, 48, 22, 36,
       27, 28, 63, 37, 46,  0, 26, 90,  7, 89, 61, 80, 21, 86, 56, 20, 13,
       98, 43, 62, 55, 84, 75, 59, 95, 76, 24, 23, 70,  3, 47, 16, 82, 74,
       77, 88, 32, 96, 14, 81,  5, 49, 52,  9, 94, 92, 99, 83, 25,  4, 71,
       42, 34,  2, 10, 45, 79, 69, 18, 60, 87, 58, 30, 40, 91, 31])

#### Choice

In [33]:
column_list = data.columns.values.tolist()
column_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?',
 'Total Mins']

In [35]:
# La idea es elegir una columna al azar
np.random.choice(column_list)

'Day Mins'

## Seed
Lo que hace esta semilla es permitirme obtener los mismos numeros aleatorios en el futuro para reproducir los resultados obtenidos durante la fase de analisis, al momento de mostrar la informacion obtenida.
Me permite reproducir el experimento aleatorio.

In [38]:
np.random.seed(2018) #Este numero lo elijo yo. Y lo mantengo.
for i in range(5):
    print(np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422